<!DOCTYPE html>
<html lang="en" class="antialiased">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <!-- Vite Assets -->
        <script type="module" src="/resources/js/app.js"></script>
        <link rel="stylesheet" href="/resources/css/app.css">
    </head>
    <body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 min-h-screen transition-colors duration-300 flex flex-col text-lg">
        <!-- Include the navbar component -->
        {{navbar}}
        
        <!-- Page Content -->
        <main class="flex-grow page-transition transform transition-all duration-300 ease-in-out">
            <div class="max-w-7xl mx-auto pt-16 px-4 sm:px-6 lg:px-8 py-8">
                {{content}}
            </div>
        </main>
        
        <!-- Footer -->
        {{footer}}
        
        <!-- JavaScript for functionality -->
        {{scripts}}
    </body>
</html>
